<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ptms.tike.mapper.SubOrderFormMapper" >
  <resultMap id="BaseResultMap" type="cn.ptms.tike.entity.SubOrderForm" >
    <id column="orderpro" property="orderpro" jdbcType="VARCHAR" />
    <id column="ordertak" property="ordertak" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="bytime" property="bytime" jdbcType="TIMESTAMP" />
    <result column="classstarttime" property="classstarttime" jdbcType="TIMESTAMP" />
    <result column="classendtime" property="classendtime" jdbcType="TIMESTAMP" />
    <result column="classinf" property="classinf" jdbcType="VARCHAR" />
    <result column="asbts" property="asbts" jdbcType="DOUBLE" />
    <result column="payee" property="payee" jdbcType="DOUBLE" />
    <result column="plaamo" property="plaamo" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderpro, ordertak, id, bytime, classstarttime, classendtime, classinf, asbts, payee, 
    plaamo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.ptms.tike.entity.SubOrderFormExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sub_order_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.ptms.tike.entity.SubOrderFormKey" >
    select 
    <include refid="Base_Column_List" />
    from sub_order_form
    where orderpro = #{orderpro,jdbcType=VARCHAR}
      and ordertak = #{ordertak,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.ptms.tike.entity.SubOrderFormKey" >
    delete from sub_order_form
    where orderpro = #{orderpro,jdbcType=VARCHAR}
      and ordertak = #{ordertak,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ptms.tike.entity.SubOrderFormExample" >
    delete from sub_order_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ptms.tike.entity.SubOrderForm" >
    insert into sub_order_form (orderpro, ordertak, id, 
      bytime, classstarttime, classendtime, 
      classinf, asbts, payee, 
      plaamo)
    values (#{orderpro,jdbcType=VARCHAR}, #{ordertak,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, 
      #{bytime,jdbcType=TIMESTAMP}, #{classstarttime,jdbcType=TIMESTAMP}, #{classendtime,jdbcType=TIMESTAMP}, 
      #{classinf,jdbcType=VARCHAR}, #{asbts,jdbcType=DOUBLE}, #{payee,jdbcType=DOUBLE}, 
      #{plaamo,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.ptms.tike.entity.SubOrderForm" >
    insert into sub_order_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderpro != null" >
        orderpro,
      </if>
      <if test="ordertak != null" >
        ordertak,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="bytime != null" >
        bytime,
      </if>
      <if test="classstarttime != null" >
        classstarttime,
      </if>
      <if test="classendtime != null" >
        classendtime,
      </if>
      <if test="classinf != null" >
        classinf,
      </if>
      <if test="asbts != null" >
        asbts,
      </if>
      <if test="payee != null" >
        payee,
      </if>
      <if test="plaamo != null" >
        plaamo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderpro != null" >
        #{orderpro,jdbcType=VARCHAR},
      </if>
      <if test="ordertak != null" >
        #{ordertak,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bytime != null" >
        #{bytime,jdbcType=TIMESTAMP},
      </if>
      <if test="classstarttime != null" >
        #{classstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="classendtime != null" >
        #{classendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="classinf != null" >
        #{classinf,jdbcType=VARCHAR},
      </if>
      <if test="asbts != null" >
        #{asbts,jdbcType=DOUBLE},
      </if>
      <if test="payee != null" >
        #{payee,jdbcType=DOUBLE},
      </if>
      <if test="plaamo != null" >
        #{plaamo,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ptms.tike.entity.SubOrderFormExample" resultType="java.lang.Integer" >
    select count(*) from sub_order_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sub_order_form
    <set >
      <if test="record.orderpro != null" >
        orderpro = #{record.orderpro,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertak != null" >
        ordertak = #{record.ordertak,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bytime != null" >
        bytime = #{record.bytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classstarttime != null" >
        classstarttime = #{record.classstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classendtime != null" >
        classendtime = #{record.classendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classinf != null" >
        classinf = #{record.classinf,jdbcType=VARCHAR},
      </if>
      <if test="record.asbts != null" >
        asbts = #{record.asbts,jdbcType=DOUBLE},
      </if>
      <if test="record.payee != null" >
        payee = #{record.payee,jdbcType=DOUBLE},
      </if>
      <if test="record.plaamo != null" >
        plaamo = #{record.plaamo,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sub_order_form
    set orderpro = #{record.orderpro,jdbcType=VARCHAR},
      ordertak = #{record.ordertak,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=INTEGER},
      bytime = #{record.bytime,jdbcType=TIMESTAMP},
      classstarttime = #{record.classstarttime,jdbcType=TIMESTAMP},
      classendtime = #{record.classendtime,jdbcType=TIMESTAMP},
      classinf = #{record.classinf,jdbcType=VARCHAR},
      asbts = #{record.asbts,jdbcType=DOUBLE},
      payee = #{record.payee,jdbcType=DOUBLE},
      plaamo = #{record.plaamo,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ptms.tike.entity.SubOrderForm" >
    update sub_order_form
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="bytime != null" >
        bytime = #{bytime,jdbcType=TIMESTAMP},
      </if>
      <if test="classstarttime != null" >
        classstarttime = #{classstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="classendtime != null" >
        classendtime = #{classendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="classinf != null" >
        classinf = #{classinf,jdbcType=VARCHAR},
      </if>
      <if test="asbts != null" >
        asbts = #{asbts,jdbcType=DOUBLE},
      </if>
      <if test="payee != null" >
        payee = #{payee,jdbcType=DOUBLE},
      </if>
      <if test="plaamo != null" >
        plaamo = #{plaamo,jdbcType=DOUBLE},
      </if>
    </set>
    where orderpro = #{orderpro,jdbcType=VARCHAR}
      and ordertak = #{ordertak,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ptms.tike.entity.SubOrderForm" >
    update sub_order_form
    set id = #{id,jdbcType=INTEGER},
      bytime = #{bytime,jdbcType=TIMESTAMP},
      classstarttime = #{classstarttime,jdbcType=TIMESTAMP},
      classendtime = #{classendtime,jdbcType=TIMESTAMP},
      classinf = #{classinf,jdbcType=VARCHAR},
      asbts = #{asbts,jdbcType=DOUBLE},
      payee = #{payee,jdbcType=DOUBLE},
      plaamo = #{plaamo,jdbcType=DOUBLE}
    where orderpro = #{orderpro,jdbcType=VARCHAR}
      and ordertak = #{ordertak,jdbcType=VARCHAR}
  </update>
</mapper>